<div class="post">
	<div class="main">
		<header>
			<time datetime="{{ article.date }}">{{ article.locale_date }}</time>
			<h1>
				<a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" rel="bookmark">{{ article.title }}</a>
			</h1>
		</header>
		<div class="post-content">
			{{ article.summary }}

			{% if article.content|wordcount > SUMMARY_MAX_LENGTH %}
			<p>
				<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
					Continue reading →
				</a>
			</p>
			{% endif %}
		</div> <!--/#entry-content-->
		<footer>
			{% if article.author and not SINGLE_AUTHOR %}
				<span class="byline">Written by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></span>
			{% endif %}
			{% if DISPLAY_CATEGORIES_ON_MENU %}
					<span class="cat-links"> ― Posted in <a href="{{ SITEURL }}/{{ article.category.url }}" title="View all posts in {{ article.category }}" rel="category tag">{{ article.category }}</a></span>
				{% endif %}
			{% if article.tags %}
	    		<span class="tag-links"> ― Tags
	    			{% set delimiter = joiner() %}
	    			{% for tag in article.tags|sort %}{{- delimiter() }} <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>{% endfor %}
	    		</span>
	    	{% endif %}
	    </footer>
	</div> <!--/#main-->
</div>  <!--/#post-->