extends layout

block content
	.container

		.row
			.col-md-offset-0.col-md-3.col-xs-offset-3.col-xs-6
				img.img-responsive.img-circle(src="http://obrienross.com/blog/content/images/2017/05/11111821_10204110733710140_1586795764804675420_o.jpg",)

			.col-md-9.col-xs-12
				.row
					h2.headtext About Me

				.row
					p
						|Hi! I'm Ross, a full stack web developer living in Seattle, WA. I use a variety of tools to build fun and useful websites.
					p
						|In my free time, I enjoy reading, playing ultimate and hockey, and going backpacking and skiing.