extends layout

block content
	.container

		.row
			.col-md-offset-0.col-md-3.col-xs-offset-3.col-xs-6
				img.img-responsive.img-circle(src="https://pbs.twimg.com/profile_images/626174614717100032/a4QZJRue_400x400.png",)

			.col-md-9.col-xs-12
				.row
					h2.headtext About Me

				.row
					p
						|Hi! I'm Ross, a full stack web developer living in Seattle, WA. I use a variety of tools to build fun and useful websites.
					p
						|I currently work for 
						a(href="https://www.pearup.com", target="_blank") Pear
						|, a website that helps groups and events find sponsorships.
					p
						|In my free time, I play 
						a(href="http://freezeultimate.com", target="_blank") ultimate 
						| and hockey, go 
						a(href="/blog/") backpacking 
						| and skiing, and read a lot of books.