extends layout

block content
	.container.container-wide
		h2.headtext(style="text-align:center;") Blog
		
		each article in articles
			.col-md-6.col-xs-12
				article
					.blog-card(style="color: #FFF; background-image:url('" + article.metadata.thumbnail + "')")
						a.blog-card-link(href=article.url)
						.blog-card-contents
							h2.headtext=article.title
							span
								strong=moment(article.date).format('MMMM DD, YYYY')
						.blog-card-overlay
