extends layout

block content
	article.article
		.jumbotron(style="background-image:url('" + page.metadata.thumbnail + "')")
			.container
				.blog-card.blog-card-post
					.blog-card-contents
						header
							h1.headtext= page.title
							span
								=moment.tz(page.date, 'America/Los_Angeles').format('MMMM DD, YYYY')
		.container

			section.content!= page.html
