{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; About{% endblock %}
{% block content %}
<div class="post">
	<div class="main">
		<div class="post-content">
			<div class="work_row" style="border:0;">
				<div class="media">
					<img src="/images/ross.jpg">
				</div>
				<div class="text">
					<h1>Hi there!</h1>
					<p>
						 I'm Ross O'Brien. I'm a 25-year old web developer living in the Seattle, WA area.
						I graduated from Michigan Technological University in 2011 with a degree in Computer Science (Software Engineering concentration). I use a variety of tools to build fun and useful websites.
					</p>

					<p>
						I currently work for <a href="http://www.pearup.com" target="_blank">Pear</a>, a website that helps groups and events find sponsorships.
					</p>

					<p>
						Previously, I worked at <a href="http://www.spartzinc.com/" target="_blank">Spartz</a>, doing all kinds of front-end and back-end projects. While there, I played a large role in developing the websites That's So True and GIFStache.
					</p>

					<p>
						In my free time, I enjoy playing hockey and ultimate, skiing, and golfing. 
					</p>
				</div>
				<div class="break"></div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}



