{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; Contact{% endblock %}
{% block content %}
<div class="post" style="text-align: center;">
	<h1>Let's talk!</h1>
	<p style="width:50%; margin-left: auto; margin-right: auto;">
		Hello! If you have any questions, comments, or just want to get in touch, I can be reached using any of the methods below.
	</p>
	<p>
		<a href="mailto:ross.obrien@gmail.com">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
			</span>
		</a>

		<a href="http://twitter.com/obrien_ross" target="_blank">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		</a>

		<a href="http://linkedin.com/in/obrienross/" target="_blank">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
			</span>
		</a>

		<a href="http://github.com/rossobrien" target="_blank">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-github-alt fa-stack-1x fa-inverse"></i> 
			</span>
		</a>
	</p>

</div>
{% endblock %}