{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; Work{% endblock %}
{% block content %}
<div class="post">
	<div class="main">
		<div class="post-content">
			<div class="work_row">
				<div class="media block">
					<a href="http://www.pearup.com" target="_blank">
						<img src="{{ SOURCE_URL }}/images/pear.png">
					</a>
				</div>
				<div class="text">
					<h2>
						<a href="http://www.pearup.com" target="_blank">Pear</a>
					</h2>

					<span class="subtitle">Web Developer </span>

					<ul>
						<li>
							Developed and maintained features for Pear, a sponsorship website built on the Yii framework
						</li>
						<li>
							Created a suite of admin tools for Pear, adding new tools as needed
						</li>
						<li>
							Built a dynamic chart building tool using jQuery for business reporting
						</li>
						<li>
							Designed and implemented a developer workflow using Github and Fabric deployment scripts.
						</li>
						<li>
							Used Google Maps API and jQuery to create a tool to build markets of zip codes for program targeting.
						</li>
					</ul>

				</div>
				<div class="break"></div>
			</div>
			<div class="work_row">
				<div class="media block">
					<a href="http://www.gifstache.com" target="_blank">
						<img src="{{ SOURCE_URL }}/images/gifstache.jpg">
					</a>
				</div>
				<div class="text">
					<h2>
						<a href="http://www.gifstache.com" target="_blank">GIFStache</a>
					</h2>
					
					<span class="subtitle">Spartz Website </span>
					
					<p>
						Basic GIF website developed and deployed in 2 weeks. Also developed a watermarking function for GIFs using imagemagick.
					</p>

				</div>
				<div class="break"></div>
			</div>
			<div class="work_row">
				<div class="media block">
					<a href="http://www.thatssotrue.com" target="_blank">
						<img src="{{ SOURCE_URL }}/images/thatssotrue.jpg">
					</a>
				</div>
				<div class="text">
					<h2>
						<a href="http://www.thatssotrue.com" target="_blank">That's So True</a>
					</h2>

					<span class="subtitle">Spartz Website </span>

					<p>
						Built the story builder and GIF library features for That's So True using jQuery to enable quick content creation. Challenges included building a tagging system and building a "smart" grid to display GIFs in the correct size and placement. The site receives an average of 15 million pageviews every month.
					</p>

				</div>
				<div class="break"></div>
			</div>
			<div class="work_row">
				<div class="media block">
					<a href="http://www.spartzinc.com" target="_blank">
						<img src="{{ SOURCE_URL }}/images/spartz.png">
					</a>
				</div>
				<div class="text">
					<h2>
						<a href="http://www.spartzinc.com" target="_blank">Spartz</a>
					</h2>

					<span class="subtitle">Web Developer </span>

					<ul>
						<li>
							Designed the architecture and implementation for a hub of website admin tools.
						</li>
						<li>
							Enhanced and maintained a complex custom extension of the Zend PHP framework designed to enable rapid development of high traffic content generation websites.
						</li>
						<li>
							Developed A/B tests for the Data team that refined many features of the sites and helped to double network traffic in a span of 6 months.
						</li>	
					</ul>
				</div>
				<div class="break"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}